@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#step2, #step3 {
    display: none;
}

.poster {
    background-size: cover!important;
    position: relative;
}

.steps {
    background: url(../images/stepsBg.png) no-repeat center center;
    background-size: cover;
    position: relative;
}

.logo-grayscale {
    filter: grayscale(1);
    opacity: .5;
}

.logo-sm {
    max-width: 150px;
}

.left-lines { 
    left: 0; 
    bottom: -180px;
}

.right-lines {
    right: 0; 
    top: -10px;
}

.poster:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(23 25 36 / .8);
    width: 100%;
    height: 100%;
}

.poster-img {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border: 15px solid #1b1d25;
    height: 400px;
    width: 330px;
    background: transparent;
}

.poster-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mirror {
    min-height: 662px;
    position: relative;
}

.shape {
    position: absolute;
    top: 0;
    left: 0;
}

.guest-bar {
    padding: 10px 30px 10px 10px;
    box-sizing: border-box;
    background: #16181e;
    border-radius: 50px;
}

.guest-bar__avatar {
    overflow: hidden;
    width: 85px;
    height: 85px;
}

.guest-bar__avatar > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.partner {
    opacity: .25;
}

.partner.active {
    opacity: 1;
}

.partner:hover {
    transition-duration: .5s;
    cursor: pointer;
    opacity: 1;
}

.step {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25px;
    padding: 0px 15px;
    font-size: 14px;
    color: #fff;
    background: #8345d5;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 700;
	flex-shrink: 0;
}

.review-img {
    position: absolute; 
    top: -45px;
    left: 50%; 
    margin-left: -45px;
    height: 90px; 
    width: 90px; 
    border-radius: 100%; 
    overflow: hidden; 
    border: 10px solid #16181e;
}

.review-img  > img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

.question-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    background: #16181e;
}

.question-item.active {
    background: #8345d5;
}

.question-item > .question-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    width: 85px;
    background: #1b1d25;
    border-radius: 100%;
}

.question-item.active > p {
    color: #fff!important;
}

.select-lang {
    display: block;
}

.select-lang__btn {
    border: 0;
    background: transparent;
    display: flex;
}

.select-lang__btn:focus {
    outline: none;
}

.language-collapse {
    position: absolute;
    z-index: 999;
    left: 0;
    overflow: hidden;
}

.lang-list {
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	height: 300px;
}

.lang-list::-webkit-scrollbar {
	display: none;
}

.h-50px {
	min-height: 50px;
}

.h-100px {
	min-height: 100px;
}

.lang-option:not(:last-child) {
    border-bottom: 1px solid #1a1c26;
}

.lang-option:hover {
    transition: ease-in-out .5s;
    cursor: pointer;
    background: #16181e;
}

/* modifiers */

.line-1 {
    line-height: 1;
}

.h-140px {
    min-height: 140px;
}

.zindex-1 {
    z-index: 1;
}

.zindex-2 {
    z-index: 2;
}

.mt-65 {
    margin-top: 65px;
}

.rounded-25 {
    border-radius: 25px;
}

.rounded-50 {
    border-radius: 50px;
}

.rounded-btm-25 {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.bg-plight--opacity {
    background: rgb(23 25 36 / 0.8);
}

.bg-plight {
    background: #1c1f27;
}

.bg-pmedium {
    background: #1b1d25;
}

.bg-pdark {
    background: #16181e;
}

.bg-card {
    background: #16181e;
}

.text-violet {
    color: #8345d5;
}

.text-pdark {
    color: #424657;
}

.text-48 {
    font-size: 3rem;
}

.text-32 {
    font-size: 2rem;
}

.text-24 {
    font-size: 1.5rem;
}

.text-18 {
    font-size: 1.125rem;
}

.text-16 {
    font-size: 1rem;
}

.font-weight-sbold {
    font-weight: 600;
}

.font-weight-ebold {
    font-weight: 800;
}

.code-input {
    display: block;
    width: 100%;
    height: 70px;
    border: 0;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 0px 30px;
    text-align: center;
    background: #16181e;
    color: #fff;
}

.code-input:focus {
    outline: 0;
}

.generate-btn,
.download-btn,
.goback-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    border: 0;
    border-radius: 50px;
    box-sizing: border-box;
    padding: 0px 30px;
    background: #8345d5;
    border: 3px solid #8345d5;
}

.generate-btn:focus,
.download-btn:focus,
.goback-btn:focus {
    outline: 0;
}

.generate-btn:hover,
.download-btn:hover,
.goback-btn:hover {
    transition-duration: .5s;
    background: transparent;
}

.lspacing-3 {
    letter-spacing: 3px;
}

.fb-page.fb_iframe_widget {
    text-align: center;
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

#codes-output {
    min-height: 370px;
}

.gateway {
    background: #16181e;
    border-radius: 25px;
}

.offer-link,
.offer-link:visited {
    width: 100%;
    text-align: center;
    color: #8345d5;
    text-decoration: none!important;
}

.offer-link:hover {
    transition: .3s ease-in-out;
    color: #fff;
    background: #8345d5;
}

.gw-separator {
    display: block;
    height: 2px;
    width: 50px;
    background: #8345d5;
    margin: 0px auto;
}

.single-article {
	color: #fff;
	min-height: 100vh;
}

/* bootstrap override */

.nav-link--custom {
    color: #fff!important;
    font-weight: 700;
}

.nav-link--custom:hover {
    transition-duration: .5s;
    color: #8345d5!important;
}

@media (min-width: 1200px) {
    
    .container, 
    .container-lg, 
    .container-md, 
    .container-sm, 
    .container-xl {
        max-width: 1440px;
    }
    
}

@media (max-width: 1199.98px) {
    
    .shape {
        display: none!important;
    }
    
    .mirror {
        padding-top: 3rem!important;
        padding-bottom: 3rem!important;
    }
    
}

@media (max-width: 991.98px) {
    
    .mb-header {
        display: block!important;
    }
    
    .dt-header {
        display: none!important;
    }
    
}

@media (max-width: 767.98px) {
    
    .h-140px {
        min-height: auto;
    }
    
    .poster-img {
        max-width: 100%!important;
    }

}